# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Env files
.env
.env.*
!.env.example

# Docker
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store

# Tests / caches
.pytest_cache/
.mypy_cache/
ruff_cache/
